In [1]:
#functions

In [5]:
def bill():
    print("welcome")
    amount=4000
    return amount

val=bill()
print(val)

welcome
4000

In [6]:
#returning a boolean func
n1,n2=eval(input("enter 2 numbers"))
def num():
    if n1%n2==0:
        return True
    else:
        return False
print(num())

enter 2 numbers4,8
False

In [8]:
#creating a function that returns multiple values
def amount():
    print("")
    maharashtra=5000
    gujrat=2500
    delhi=8470
    return maharashtra,gujrat,delhi
a1,a2,a3=amount()
print("sale in maharashtra",a1,"in gujrat",a2,"in delhi",a3)

sale in maharashtra 5000 in gujrat 2500 in delhi 8470

In [12]:
#function with arguments for printing table
def table(num1):
    for i in range(11):
        print(num1,"*",i,"=",num1*i)
table(20)

20 * 0 = 0
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [20]:
#function with multiple arguments
def newtable(num1,num2,num3):
    for i in range(num2,num3):
        print(num1,"*",i,"=",num1*i)
print("printing the table using 3 arguments")
newtable(7,1,3)

print("printing the table using 3 name arguments")
newtable(num1=7,num2=3,num3=5)

print("printing the table by changing order of arguments")
newtable(num3=6,num1=7,num2=4)

printing the table using 3 arguments
7 * 1 = 7
7 * 2 = 14
printing the table using 3 name arguments
7 * 3 = 21
7 * 4 = 28
printing the table by changing order of arguments
7 * 4 = 28
7 * 5 = 35

Data Structures play an important role in programming, the diffrent data structures included in python are arrary, list, tuples and dictionary . The difference between an array and list is that array is the collection of similar datatypes where list can be collection od different data types. While Array and List can be modified by adding , deleting and modifying the existing the elements. It is not possible to modify a tuple. A dictionary is a unique data structure generally not available in programming langauge and is represented as key:value pair. Creation of datastructures accessing DS diffrent functions related data structures and programming related to them is now discussed. for effective programming related to arrarys we need to create array through numpy library or array module

In [31]:
# creating a list: program to add number using list
print("please enter five decimal numbers")
total=0
lst=[]
for i in range(0,5):
    val=float(input("enter numbers"+str(i+1)+":"))   #takes i as string
    lst+=[val]
    total+=val
def display():
    print("COMPLETE LIST IS: ")
    for num in lst:
        print(num,end='')

def sum():
    print("ON ADDITION: ",total)
    
    
display()
sum()

please enter five decimal numbers
enter numbers1:1
enter numbers2:2
enter numbers3:3
enter numbers4:4
enter numbers5:8
COMPLETE LIST IS:
1.02.03.04.08.0ON ADDITION:  18.0

In [5]:
#program to create list using List and range function
lst1=list(range(12,19))
print(lst1)

[12, 13, 14, 15, 16, 17, 18]

In [7]:
#create a list of negative to positive integers with default interval
lst2=list(range(-3,5))
print(lst2)

[-3, -2, -1, 0, 1, 2, 3, 4]

In [9]:
#creating a list of numbers in decending order with specified interval
lst3=list(range(30,-10,-2))
print(lst3)

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [11]:
#creating a list of numbers in ascending order with specified interval
lst4=list(range(0,300,50))
print(lst4)

[0, 50, 100, 150, 200, 250]