In [5]:
#Program to modify existing list element
lst1=[100,200,300,400,500,600,700,800,900,1000]
print("Original list is",lst1)
lst1[0]=101
print(lst1)

Original list is [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
[101, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [10]:
#List slicing
lst2=[11,12,13,14,15,16,17,18,19,20]
print(lst2[0:3])
print(lst2[-4:2])
print(lst2[:3])
print(lst2[5:])
print(lst2[6:12])
print(lst2[4:0])

[11, 12, 13]
[]
[11, 12, 13]
[16, 17, 18, 19, 20]
[17, 18, 19, 20]
[]

In [15]:
#Program to access elements of hetrogenous list
lst3=[1,3.5,9,[10,11,12,13],34,['UK','India','Australia','Dubai'],-11]
for val in range(0,7):
    print("The element",val+1,"is",lst3[val])
    
    #OR
'''for val in range(0,8):
    print("The element",val,"is",lst3[val])'''

The element 1 is 1
The element 2 is 3.5
The element 3 is 9
The element 4 is [10, 11, 12, 13]
The element 5 is 34
The element 6 is ['UK', 'India', 'Australia', 'Dubai']
The element 7 is -11

'for val in range(0,8):\n    print("The element",val,"is",lst3[val])'

In [19]:
#accessing individual item of a nested list
lst3=[1,3.5,9,[10,11,12,13],34,['UK','India','Australia','Dubai'],-11]
for x in range(0,4):
    print(lst3[3][x])

10
11
12
13

In [20]:
for x in range(0,4):
    print(lst3[5][x])

UK
India
Australia
Dubai

In [22]:
#Concatination of two list in one single list
lst4=lst1+lst3
print(lst4)

[101, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1, 3.5, 9, [10, 11, 12, 13], 34, ['UK', 'India', 'Australia', 'Dubai'], -11]

In [34]:
import random
random.uniform(9,14)
random.randrange(9,14)

13

In [41]:
a=(2,4,7,3)
a[-1]

3