In [1]:
# Python functions

In [2]:
print("hello world")

hello world

In [3]:
print("hello\n world")

hello
 world

In [4]:
print("hello, world")

hello, world

In [1]:
print("welcome", end=' ' )
print("to the", end=' ')
print("world of python",end='')

welcome to the world of python

In [6]:
print("welcome", end=' ' )
print("to the", end=' ')
print("world of python",end='')

welcome to the world of python

In [7]:
salary=7000
print("total salary is",salary)

total salary is 7000

In [8]:
salary=7000
bonous=9000
print("total salary is",salary," \nbonous is",bonous)

total salary is 7000
bonous is 9000

In [9]:
a=9
b=10
print("sum is",a+b)

sum is 19

In [10]:
a='anu'
b='shka123'
print("sum is",a+b)

sum is anushka123

In [11]:
var1,var2,var3=1,2,3
print(var1,var2,var3)#by default it provides space between multiple variables

1 2 3

In [12]:
var1,var2,var3=1,2,3
print(var1,var2,var3,sep=' ')

1 2 3

In [13]:
var1,var2,var3=1,2,3
print(var1,var2,var3,sep='') #no space in separator

123

In [14]:
var1,var2,var3=1,2,3
print(var1,var2,var3,sep='\n')

1
2
3

In [15]:
var1,var2,var3=1,2,3
print(var1,var2,var3,sep='-')

1-2-3

In [ ]:
#DAY 2

In [16]:
#input function
name=input("my name is: ")
print(name)

my name is: anu
anu

In [18]:
#INPUT Function

In [19]:

name=input("my name is: ")
print(name,"\nand datatype is",type(name))

my name is: anu
anu
and datatype is <class 'str'>

In [20]:
name=input("my name is: ")
print(name,"\nand datatype is",type(name))    #default type is string of input function

my name is: anu
anu
and datatype is <class 'str'>

In [22]:
num=int(input("my roll.no is: "))
print(num,"\nand datatype is",type(num))

my roll.no is: 123
123
and datatype is <class 'int'>

In [2]:
print("it is\r ")