#sets are mutable i.e can be edited(append,delete,,)
sets like in mathematics are denoted using curly braces

In Python, a set is an unordered collection of unique elements. The elements of a set can be of any data type, such as integers, floating-point numbers, strings, and even other sets. Sets are typically used when you need to store unique elements, or when you need to perform operations that involve sets, such as union, intersection, and difference.

Here are some basic operations you can perform on sets in Python:

In [16]:
#first

Creating a set: You can create a set using the set() function or by enclosing a comma-separated list of values inside curly braces ({}):

In [17]:
my={12,3.5,7,'ab',3}
my

{12, 3, 3.5, 7, 'ab'}

when we call set or print whole set it arranges the set in first order

In [18]:
type(my)

set

In [ ]:
my[2]

property: these errors show that set elements cannot be retrived

In [19]:
my(2)

TypeError: 'set' object is not callable

In [19]:
#2. Adding elements to a set: You can add an element to a set using the add() method:

In [20]:
my.add(2)

In [21]:
my

{12, 2, 3, 3.5, 7, 'ab'}

In [ ]:
my.append(12)
my
#note: append is ot used in sets

In [22]:
#Removing elements from a set: You can remove an element from a set using the remove() method:
my.remove(2)
my

{12, 3, 3.5, 7, 'ab'}

In [37]:
#You can remove elements from a set using the remove(), discard() or pop() methods.
set2 = {1, 2, 3, 4, 5}
set2.remove(3) # removes the element 3 from set2
set2.discard(6) # removes the element 6 from set2 if it exists
set2.pop() # removes and returns an arbitrary element from set2

1

PROPERTIES OF SETS:
Unordered collection: A set is an unordered collection of unique elements. This means that the elements in a set have no specific order.

Unique elements: A set can only contain unique elements. If you try to add a duplicate element to a set, it will simply be ignored.

Supports mathematical set operations: Sets support various mathematical set operations such as union, intersection, difference, symmetric difference, issubset, issuperset, and isdisjoint.

Iteration: You can iterate over the elements of a set using a loop or the built-in iter() function.

Membership testing: You can test if an element is in a set using the in keyword.

No duplicate elements: Sets do not allow duplicate elements, which means that if you try to add an element that already exists in the set, it will be ignored.

In [27]:
set2={1,11,2,3,4,6}
if 1 in set2:
    print("1 is in set2")

1 is in set2

Union, intersection, and difference: You can perform operations that involve sets, such as union, intersection, and difference, using the union(), intersection(), and difference() methods, respectively:
Note that these operations do not modify the original sets, but instead return a new set.

In [31]:
set3 = {2, 3, 4}
union_set = set2.union(set3)
intersection_set = set2.intersection(set3)
difference_set = set2.difference(set3)

In [32]:
union_set

{1, 2, 3, 4, 6, 11}

In [33]:
intersection_set

{2, 3, 4}

In [34]:
difference_set

{1, 6, 11}

In [36]:
set4 = {x**2 for x in range(10)}
set4

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}